* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(-45deg, #f4cd9a, #e2942d, #f4cd9a, #8c5e28);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  font-size: 1.6rem;

  display: grid;
  place-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body,
button {
  font-family: 'DM Sans', sans-serif;
}

main {
  background: #fff;
  box-shadow: 0px 20px 50px #8c5d289d;

  border-radius: 5px;

  width: min(43rem, 90%);

  padding: 4.8rem 6.4rem;

  text-align: center;
}
/*Screen1*/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1,
p {
  color: #34355b;
}

p {
  opacity: 0.8;
  line-height: 20px;

  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

img {
  width: 30rem;

  cursor: pointer;
}
.screen1 img:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*Screen2 */

.hide {
  display: none;
}

.hug {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 30rem;
  padding: 10px;
  margin: 1.7rem 0 6rem;
  gap: 1rem;

  border: 0.2rem solid #bf7118a3;
  border-radius: 1rem;

  background: #ed9726;

  animation: zoom 1.5s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    scale: 0.1;
  }
  100% {
    opacity: 100;
    scale: 1;
  }
}

.screen2 p {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 29px;

  color: rgb(255, 255, 255);
}

.screen2 img {
  margin-bottom: 6rem;
}

button {
  font-weight: 700;
  color: #fff;
  line-height: 2rem;

  background: #ed9726;
  border-radius: 4px;
  border: none;

  padding: 1.6rem;
  gap: 10px;

  cursor: pointer;

  transition: 0.3s;
}
button:hover {
  background: #d0811a;
  transform: scale(1.1);
}
