
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(-45deg, #f4b400, #dd2a7b, #4284f4, #f4b400);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  font-size: 1.6rem;

  display: grid;
  place-items: center;

  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body,
button,
input {
  font-family: 'DM Sans', sans-serif;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: #4284f4;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;

  border-radius: 0px 4px 4px 0px;
  cursor: pointer;

  transition: background 0.5s;
}

button:hover {
  background-color: #dd2a7b;
}

.hide {
  display: none;
}
main {
  background: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 4.8rem 6.4rem;

  width: min(42.8rem, 90%);

  margin-top: -12rem;

  text-align: center;
}

/* screen1 */

.screen1 img {
  width: 8rem;
  margin-bottom: 2rem;

  animation: levitation 1s infinite alternate
    cubic-bezier(0.7, 0.25, 0.34, 0.78);
}

@keyframes levitation {
  from {
    transform: translateY(0.7rem);
  }
  to {
    transform: translateY(0);
  }
}
.screen2 img {
  width: 8rem;
  margin-bottom: 2rem;

  animation: hithere 1s ease;
}

@keyframes hithere {
  30% {
    transform: scale(0.5);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1,
p {
  color: #34355b;
}

p {
  opacity: 0.8;
}

.pTry {
  color: red;

  font-weight: 600;

  margin-top: 2rem;
  margin-bottom: -3rem;
  animation: try 1s;
}

.hid {
  display: none;
}

@keyframes try {
  30% {
    transform: scale(0.8);
  }
  40%,
  60% {
    transform: rotate(-10deg) scale(1.1);
  }
  50% {
    transform: rotate(10deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

form {
  margin-top: 4.8rem;

  display: flex;
  justify-content: center;
}

input,
button {
  border: none;
  padding: 1.6rem;
}

input {
  background: #dce2e9;
  color: #252525;

  border-radius: 4px 0px 0px 4px;

  width: 6rem;
  font-weight: 700;
  font-size: 1.8rem;

  outline: none;
}
input:focus {
  background-color: #d4deeb;
  transition: 0.3s;
}

/* scren2 */

h2 {
  font-size: 2.4rem;
  font-weight: normal;

  margin-bottom: 3.3rem;
}

.screen2 button {
  margin-top: 4.8rem;
  border-radius: 0.4rem;
}
